.loading-access,
.loading-fidelity,
.loading-first,
.loading-gt,
.loading-stanbic,
.loading-uba,
.loading-zenith,
.loading-opay,
.loading-palmpay,
.loading-monie,
.loading-kuda {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 200px;
}

.loading-img {
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid blue;
    animation: bounceAnimation 1s infinite;
}

@keyframes bounceAnimation{
    50% {
        transform: translateY(-40px);
    }
}