body {
   margin: 0px;
   padding: 0px;
   background-color: #3445FF;
   font-family: arial;
}

.top {
   color: white;
   font-size: 15px;
   font-weight: bold;
   padding: 20px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.bi-x {
   font-size: 25px;
}

section {
   padding: 15px 0px;
   border-radius: 5px;
   margin: 40px auto;
   width: 330px;
   display: block;
   background-color: white;
   position: relative;
}

.bi-check-circle-fill {
   color: #3445FF;
   background-color: white;
   font-size: 32px;
   border: 1px solid white;
   border-radius: 60px;
   position: absolute;
   left: 45%;
   top: -17px;
}

.top-name {
   align-items: center;
   justify-content: center;
   display: flex;
   font-weight: bolder;
   color: #0F3E91;
   font-size: 14px;
   margin: 30px 0px 0px;
}

.bi-dot {
   font-size: 25px;
   margin: -10px;
   font-weight: bolder;
   
}

.number {
   color: #294B88;
   font-weight: bold;
   font-size: 14px;
   padding: 2px;
   background-color: #EBECFF;
   border-radius: 30px;
   width: 120px;
   display: flex;
   justify-content: center;
   margin: 0px auto;
}

.via {
   font-size: 10px;
   margin: 5px 0px;
   color: #8183A7;
}

.flex  {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10px;
   border-top: 1px solid #EEEFFF;
   border-bottom: 1px solid #AFB2B9;
   margin: 50px 10px 10px; 
   font-size: 13px;
   font-weight: bold;
   color: #2B4066;
}

.flex2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10px;
   font-size: 13px;
   font-weight: bold;
   color: #2B4066;
}

.flex2-right {
   font-size: 19px;
}

.container {
   background-color: #EEEFFF;
   padding: 20px 20px 90px;
}

.flex3 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 10px;
   font-weight: bold;
   color: #2B4066;
}

.ref {
   font-weight: 400;
}

b {
   font-weight: 600;
}

.green-container {
   position: relative;
   border: 0.5px solid #06CF85;
   border-radius: 5px;
   margin: 10px 14px;
   background-color: #7EEFC6;
   color: green;
   font-weight: bolder;
}

.left-green {
   background-color: #06CF85;
   padding: 2px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   position: absolute;
   left: 0px;
   top: 0px;
   bottom: 0px;
}

.green-top {
   margin: 10px;
   font-size: 10px;
   font-weight: 800;
}

.co {
   font-size: 8px;
}

.by {
   font-size: 9px;
   font-weight: 400;
   margin: 10px;
}

/*INDEX STYLING*/

img {
   width: 200px;
   margin: 60px 0px;
}

form {
   background-color: white;
   padding: 20px;
   width: 300px;
   margin: 30px auto;
   display: block;
   border-radius: 10px;
}

label {
   font-size: 14px;
   font-weight: bold;
   color: blue;
}

input {
   width: 280px;
   height: 30px;
   border-radius: 5px;
}

button {
   border: none;
   background-color: blue;
   color: white;
   width: 250px;
   padding: 10px;
}

button:active {
   border: 2px solid blue;
   background-color: white;
   color: blue;
   width: 250px;
   padding: 10px;
}